@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --primary-color: #5f319e;
  --secondary-color: white;
  --primary-font-family: 'Space Grotesk', sans-serif;
  --secondary-font-family: 'Space Mono', monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  padding: 0;
  margin: 0;
}
